/* Google Font link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 100%;
    background-image: linear-gradient(to right bottom, #8bbb9b, #9ac3a7, #a9cbb3, #b7d3bf, #c6dbcb);
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* Global styles */
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/* main container */
.container{
    width: 90%;
    height: auto;
    backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(0px) saturate(200%);
    background-color: rgba(198, 219, 203, 0.9);
    border-radius: 30px;
    border: 1.6px solid rgba(255, 255, 255, 0.6);
    margin-top: 40px;
}
.navbar{
    justify-content: space-between !important;
}
.brand .navbar-brand{
    color: #0066ff !important;
    font-weight: bold;
}
.logo-img{
    margin-top: -10px;
    width: 80px;
    height: 80px;
}
.shopping-cart{
    position: relative;
    padding-right: 35px !important;
}
.shopping-cart .shopping-cart-icon{
    width: 2rem;
    height: 2rem;
}
.shopping-cart a .num-products{
    position: absolute;
    top: 0;
    right: 20px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #FF6363;
}
.shopping-cart a .num-products span{
    color: #fff;
}

/* Product card design */

.products{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: center;
}
.products li .product{
    width: 250px;
    padding: 15px;
    flex: 0 1 30rem;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 24px 0 rgb(86 91 115 / 15%);
    border-radius: 25px;
}
.products li{
    padding: 20px 30px;
}

.products li .product a img{
    width: 200px;
    height: 200px;
}
.products li .product .product-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.products li .product .product-buttons .addCart{
    padding: 5px;
    border-radius: 50%;
}
.products li .product .product-buttons .addCart img{
    width: 40px;
    height: 40px;
}

.product-price{
    color: #363062;
    font-weight: 500;
}
.product-name a{
    text-decoration: none;
    color: #363062;
    font-weight: 500;
    font-size: 20px;
}

/* 404 error page */
.pagenotfound{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
.pagenotfound .error404Image{
    width: 300px;
    height: 300px;
}
.error404{
    color: #0066ff;
}
.link404{
    color: #363062;
    text-decoration: none;
    margin-bottom: 50px;
    font-weight: 500;
}

/* Rating */
.bi{
    color: #BABD42;
}
.rating{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.rating .review{
    font-size: 14px;
    font-weight: 500;
    color: #363062;
    padding-left: 30px;
}
.bi-person{
    font-size: 20px;
    color: #0066ff;
    font-weight: 500;
    padding-right: 5px;
}
.profile-name{
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}

/* Product details */
.product-content .details{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}
.product-content .details .left .details-action{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 24px 0 rgb(86 91 115 / 15%);
    border-radius: 25px;
}
.product-content .details .left .details-action ul{
    padding-right: 50px;
}
.product-content .details .left .details-action ul .price{
    padding-top: 10px;
}
.product-content .details .left .details-action ul .stock{
    padding: 10px 0px;
}
.product-content .details .left .details-action ul li span{
    padding-left: 5px;
    font-weight: 500;
}
.success{
    font-weight: 500;
    color: #357C3C;
}
.failure{
    font-weight: 500;
    color: #FF6363;
}
.product-rating{
    padding: 20px 0;
}
/* .product-content{
    padding: 1rem;
}
.details{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.details-image{
    flex: 2 1 60rem;
} 
.details-image img{
    max-width: 60rem;
    width: 250px;
}
.details-info, .details-action{
    flex: 1 1 30rem;
}
.details-info ul, .details-action ul{
    padding: 0;
    list-style-type: none;
}
.details-info h1{
    font-size: 2rem;
    margin: 0;
}
.details-info li, .details-action li{
    margin-bottom: 1rem;
}
.details-action{
    border: 0.1rem #333 solid;
    border-radius: 30px;
    padding: 10px;
} */

/* Back to home page */
.bi-arrow-left{
    color: #363062;
    font-size: 30px;
    font-weight: 500;
}
.bi-arrow-left:hover{
    color: #0066ff;
}


/* Cart */
.cart{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.cart-list{
    width: 60%;
}
.cart-action{
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 24px 0 rgb(86 91 115 / 15%);
    border-radius: 25px;
    padding: 20px;
}
.cart-action h3 span{
    color: #0066ff;
}
.cart-list-container{
    padding: 1rem;
    list-style-type: none;
}
.cart-list-container li{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.1rem #F5EEDC solid;
}
.cart-list-container img{
    max-width: 8rem;
    max-height: 8rem;
}
.cart-list-container li:first-child{
    align-items: flex-end;
}
.cart-list-container li:first-child div{
    font-weight: 500;
}
.cart-name{
    display: flex;
    flex-direction: column;
}
.cart-name .product-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-name .product-name a{
    color: #363062;
    font-weight: 500;
    font-size: 24px;
}
.cart-name .product-name a:hover{
    color: #0066ff;
}
.orderProduct{
    color: #0066ff;
    font-size: 22px;
    text-decoration: none;
}
.but-select{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.but-select .select-first{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 190px;
    padding-right: 30px;
}
.qty-select{
    background-color: #EFFFFB !important;
}
.but-select .select-first p{
    font-weight: 500;
    padding-right: 20px;
}
.cart-price{
    text-align: right;
    font-weight: 500;
}
.cart-name > div{
    padding: 1rem;
}
.cart-list h3{
    margin: 0;
}
/* Cart Actions page */
.no-item-img{
    width: 6000px !important;
    height: 6000px !important;
}

/* login page */



/* Overlay loading */
.overlay{
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(16, 16, 16, 0.5);
}
.overlay.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Checkout */
.checkout-steps{
    display: flex;
    justify-content: space-between;
    width: 40rem;
    margin: 1rem auto;
}
.checkout-steps > div{
    border-top: 0.3rem #c0c0c0 solid;
    color: #0066ff;
    flex: 1 1;
    padding-top: 1rem;
}
.checkout-steps > div.active{
    color: #357C3C;
    border-top-color:#363062;
}

/* Order */
.order{
    display: flex;
    flex: wrap;
    padding: 1rem;
    justify-content: space-between;
}
.order h2{
    margin: 0;
    font-size: 1.8rem;
}
.order .cart-list-container{
    padding: 0;
}
/* .order-info{
    flex: 3 1 60rem;
} */
.order-info > div{
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 24px 0 rgb(86 91 115 / 15%);
    border-radius: 25px;
    padding: 1rem;
    margin: 1rem;
}
.order-info > div:first-child{
    margin-top: 0;
}
.order-action{
    /* flex: 2 1 20 rem; */
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 24px 0 rgb(86 91 115 / 15%);
    border-radius: 25px;
    padding: 1rem;
}
.order-action > ul{
    padding: 0;
    list-style-type: none;
}
.order-action li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.order-action .total{
    font-weight: 500;   
}
.orderSummary{
    font-size: 24px !important;
}

/* Search bar design */
/* 
.wrapper
{
    width: 95%;
    margin: 0 auto;
}

#search-container
{
    margin: 1em 0;
}

#search-container input
{
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid #110f29;
    padding: 1em 0.3em;
}

#search-container input:focus
{
    border-bottom-color: #6759ff;
}

#search-container button
{
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #6759ff;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 0.5em;
}
 
.button-value
{
    border:  2px solid #6759ff;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: #6759ff;
    cursor: pointer;
}

.active
{
    background-color: #6759ff;
    color: #ffffff;
}


#products-search
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1em;
    padding: 2em 0;
}
.card
{
    background-color: #ffffff;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1,2,68,0.08);
}

.image-container
{
    text-align: center;
}

img
{
    max-width: 100%;
    object-fit: contain;
    height:  15em;
}

.container 
{
    padding-top: 1em;
    color: #110f29;
}

.container h5
{
    font-weight: 550;
}

.hide
{
    display: none;
}

@media  screen and (max-width: 720px)
{
    img 
    {
        max-width: 100%;
        object-fit: contain;
        height: 10em;
    }    

    .card
    {
        max-width: 10em;
        margin-top: 1em;
    }

    .container
    {
        grid-column-gap: 2em;
    }
} */



/* Media queries for mobile resposiveness */

@media screen and (max-width: 992px) {
    body{
        display: block;
    }
    .menu-body{
        padding: 0;
    }
    .cursor{
        display: none;
    }
    .product-content .details{
        flex-direction: column;
    }
    .cart-list{
        width: 100%;
    }
    .cart-action{
        margin-bottom: 30px;
    }
}



/* Next */
footer p{
    padding-top: 10px;
    color: #0d47a1;
    font-weight: 500;
}